.section-divider {
  width: 100%;
  border-top: 1px solid gray;
  margin: 20px 0; /* Adjust margin as per your needs */
}

.PageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, rgb(190, 15, 44), rgb(229, 167, 229));
  padding: 10px;
  color: white;
}

.PageTitle {
  margin: 0;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 70pt;
  letter-spacing: 3px;
  color: pink;
  text-shadow: -1px 1px 0px #aeb8fe, 1px 1px 0px #aeb8fe, 
  1px -1px 0px #aeb8fe, -1px -1px 0px #aeb8fe;
}

.ballicon {
  font-size: 1em;  /* Increase size of icon */
  color: orange;  /* Change color of icon */
  margin-left: 50px;
}

.PageTitle span {
  color: violet;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 100;
  display: flex;
  gap: 15px;
  font-size: 15pt;
  font-weight: 300;
  padding-right: 50px;
}

.links {
  display: inline;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.predDiv {
  width: 25%;
  padding: 20px;
  border: 5px solid black;
  margin: auto;
  border-radius: 25px;
  margin-top: 15px;
  margin-left: 35%;
}

.predDiv-slide-left {
  animation: slide-left 2s forwards;
}

@keyframes slide-left {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-75%);
  }
}

.helloMessage {
  transition: visibility 0s, opacity 0.5s linear;
  width: 25%;
  padding: 20px;
  margin: auto;
}

.playerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playerImage img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.playerPrediction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.yesButton {
  margin-top: 20px;
}

.playerPrediction h2 {
  margin-bottom: 10px;
}

.predict-head {
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
  font-weight: 500px;
  font-size: 40px;
  padding: 0;
  margin: 5px;
}

#predict-about {
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  }

.input-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.user-input {
  font-size: 1em;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
  margin: 10px;
  width: 300px;
}

.user-input::placeholder {
  color: gray;
  font-family: "Lucida Console", "Courier New", monospace;
}

.submit-button {
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 10px;
  transition: transform 0.3 ease;
}

.submit-button:hover {
  background-color: rgb(215, 204, 204);
  color: black;
  transform: scale(1.1);
}



.bigDiv {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  gap: 30%;
}

.table-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
}

.player-table, .match-table {
width: 100%; 
margin: 10px;
border-collapse: collapse; 
box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.match-table {
  width: 100%;
  margin-right: 200px;
}

.player-table thead tr, .match-table thead tr {
  background-color: #d7537f;
  color: #ffffff;
  text-align: left;
}

.player-table th, .player-table td, .match-table th, .match-table td {
padding: 12px;
border: 1px solid #ddd;
text-align: center;
}

.player-row:nth-child(even), .match-row:nth-child(even) {
background-color: #f2f2f2;
}

.player-table tbody tr:last-of-type, .match-table tbody tr:last-of-type {
  border-bottom: 2px solid #d7537f;
}

.articulo {
  text-align: center;
}

.article-container {
  display: flex;
  gap: 5%;
}

.image-container {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-left: 20px;
  box-shadow: 0px 0px 15px 5px rgba(233, 117, 117, 0.5);
}

.article-image {
  width: 100%;
  height: 100%;
}

.article-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: rgba(161, 124, 124, 0.7);
  transition: height 0.3s ease-in-out;
  overflow: hidden;
}

.article-content {
  position: absolute;
  top: 20%;
  width: 100%;
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out 0.3s; 
}

.article-title {
  margin: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.article-description {
  margin: 10px 0 0 0;
}

.image-links:hover .article-overlay {
  height: 100%;
}

.image-links:hover .article-content {
  opacity: 1;
}

#about-header {
  text-align: center;
}